apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-react-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
      - name: backend
        image: go-backend:v1
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
      - name: frontend
        image: react-frontend:v1
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: web-service
spec:
  selector:
    app: web
  ports:
    - name: api
      port: 8080
    - name: ui
      port: 3000
  type: LoadBalancer